nav {
 background-color:white; /* color de fondo del menú */
 padding: 10px 0;  /* espacio interno */
}

nav ul{
    list-style: none; /* quita los puntos */
    display: flex; /* coloca los elementos en línea */  
    justify-content: center; /* centra el menú horizontalmente */
    gap: 30px;  /* espacio entre los ítems */
    margin: 0;  /* elimina relleno del <ul> */
    padding: 0; /* elimina relleno del <ul> */
}

nav a{
    text-decoration: none;  /* quita el subrayado */
    color:946DBE;        /* color del texto */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;   /* animación al pasar el mouse */
}

nav a :hover{
    color:black;  /* color al pasar el cursor */
}

/* ====== ESTILOS GENERALES ====== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
            background-color: #ffffff;
            color:darkred;
            padding: 1.5rem 0;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

header .logo img {
            max-width: 20%;
            right: 500px;
            position: relative;
            }

/* ====== ICONO HAMBURGUESA ====== */
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: inline-block; /* se oculta en escritorio */
  
}

/* ====== RESPONSIVE (pantallas menores a 768px) ====== */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* mostrar icono */
  }

  nav ul {
    flex-direction: column; /* menú vertical */
    background-color:darkgrey;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none; /* oculto por defecto */
  }

  nav ul li {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #444;
  }

  /* cuando el menú está activo */
  nav.active ul {
    display: flex;
  }
}

